:root{
    --purple: #D4B0B6;
    --bg: #91887B;
    --white: #F1ECDF;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body{
    font-size: 1.2rem;
    font-family: 'Forum', cursive;
    color: var(--white);
}

body.lock-scroll {
    overflow: hidden;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: saturate();
}

.hero{
    position: relative;
    min-height: 100vh;
}

.hero h4, h1, p {
    text-shadow: var(--shadow);
}

.hero h1{
    font-size: 5rem;
    font-family: 'Pinyon Script', cursive;
}

.hero a{
    color: var(--purple);
    background-color: var(--white);
    box-shadow: var(--shadow);
}

.hero a:hover{
    background-color: var(--purple);
    color: var(--white);
}

.btn-container {
    position: relative;
    animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

/* @media (max-width: 992px){
    html{
        font-size: 75%;
    }
} */

@media (max-width: 768px){
    html{
        font-size: 65%;
    }

    .hero::before {
        background-image: url(img/prewed.jpg);
        background-size: contain;
    }

    .simply-countdown>.simply-section{
        padding: 40px;
    }
}

@media (max-width: 576px){
    html{
        font-size: 60%;
    }

    .hero::before {
        background-image: url(img/prewed.jpg);
        background-size: contain;
    }

    .simply-countdown>.simply-section{
        padding: 20px;
    }
}